@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4d69e5;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Poppins', sans-serif;
}

.main {
    max-width: 70vw;
    margin: 0 auto;
    background-color: #9ed5e3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0077b6;
    color: #fff;
    border: 0.8vw solid rgb(31, 2, 58);
}

.navul {
    list-style: none;
    display: flex;
}

.navul li {
    margin-right: 20px;
    font-weight: bold;
}
.navul li a {
    text-decoration: none; 
    color: #aaf30d; 
    transition: color 0.3s; 
}

.navul li a:hover {
    color: #4bc935;
    text-decoration: underline; 
    font-size: larger;
}
.navul a {
    text-decoration: none;
    color: #fff;
}

.heading {
    display: flex;
    align-items: center;
}

.img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.name-h2 {
    font-size: 36px;
}

.heroImg img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.content {
    padding: 20px;
}

.problem p,
.ourWork div {
    font-size: 2vh;
    margin-bottom: 10px;
}
.service>p{
    font-size: 6vh;
    font-weight: 600;
    color: #086b3d;
}
.service>div>p{
    font-size: 3.5vh;
    color: #12067d;
    font-weight: 500;
    
}

.search-button{
    height: 4vh;
    border-radius: 5px;
    background-color: #29a0e0;
    color: #fff;
}
textarea {
    width: 95%;
    padding: 10px;
    padding-right: 10px;
    border: 0.3vw solid #63630b;
    border-radius: 5px;
    resize: vertical;
    height: 30vh;
}
textarea>::placeholder{
    color: #4bc935;
}
.ourWork div {
    margin-top: 10vh;
    background-color: #2462be;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.footer {
    background-color: #0077b6;
    color: #7992e2;
    padding: 10px;
    text-align: center;
}

