@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;1,800&family=Poppins:wght@200&display=swap');

:root{
    --primary:#3155e7;
    --primary-dark: #2045d6;
    --white11: #ffff;
    --color11-1:#2045d6;
    --color11-2:#2045d6;
    --white:#FFFFFF;
    --body: #fefefe;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #252839;
    box-sizing: border-box;
    overflow:auto;
}

.btn{
    border-radius: 8px;
}

.btn-primary,.btn-outline-secondary{
    padding: 12px 20px;
}

.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary-dark);
    color: white;
}

.btn-outline-secondary{
    border: 1px solid var(--color11-2);
    color: var(--white11);
}

.btn-outline-secondary:hover{
    background-color: var(--color11-2);
    border: 1px solid var(--color112);
    color: var(--white11);
}

.btn-outline-secondary:focus{
    background-color: var(--color11-2);
    border: 1px solid var(--color11-2);
    color: var(--white11);
}

.navbar.btn-outline-secondary{
    border: 1px solid var(--color11-2);
    color: var(--white11);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar{
    padding: 32px 0;
}
.navbar-brand{
    font-size: 10vh;
    color: white;

}
.navbar-brand:hover{
    color: #2045d6;
}

.navbar-brand img{
    width:10vw;
    height: 10vh;
}

.nav-link{
    margin-left: 41px;
    font-size: 16px;
    color: var(--color11-1);
}

.navbar-nav,.nav-link.active{
    font-weight: bold;
    color: var(--white11);
}

section.hero{
    padding: 80px 0;
}

section.hero .text{
    font-weight: 800;
    font-size:48px;
    line-height: 73px;
    color: var(--white11);
}

.buttons{
    padding-top: 69px;
}

.buttons .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* styling the setup section */
section.setup{
    padding: 287px 0;
}
.setup h3,p{
    color: white;
}

section.setup .text-header h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color:var(--white11);
}

section.setup .text-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color:var(--color11-1);
    padding: 27px 0;
}

section.setup .icons{
    padding: 27px 0;
}

section.setup h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--white11);
    padding-bottom: 18px ;
}

section.setup .desc p{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(--color11-1);
    max-width: 284px;
    margin:0 auto;
}


/*  styling information section*/
section.information .text-information{
    padding: 134px 0;
}

section.information h5{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--white11);
}

section.information p{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--color11-1);
    padding-top: 20px;
}

/* styling the footer section */

footer{
    padding-top: 279px;
    margin-bottom: 44px;
    margin-top: 15vh;
    background-color: #33374c;
    border-radius: 35px;
}
footer .container h2{
    color: white;
    position: relative;
    bottom: 25vh;
    left: 12vw;
    font-size: 3rem;
    font-weight: 600;
}
footer .container p{
    position: relative;
    bottom: 24vh;
    left:4vw;
    font-size: 1.5rem;
    text-align: center;
}
footer a{
    font-weight: bold;
    font-size: 14px;
    color: var(--white11);
    line-height: 18px;
    padding: 0.4rem;
}

footer button{
    height:5vh ;
    width: 8vw;
    margin-left: 2vw;
    font-size:2vh ;
    position: relative;
    bottom: 18vh;
    left: 20vw;
    background-color: #2045d6;
    color: white;
    border-radius: 10px;
}
footer button:hover{
    background-color: #252839;
}
footer span{
    color: white;
    position: relative;
    bottom: 6vh;
    right: 1vw;
    font-size:1.5 ;
}

/* decorating the hero image  */
.setup img{
    position: relative;
    left: 20vw;
    height: ;
    width: ;
}



/* targeting the cards */
#info-1{
    border: 3px solid rgb(134, 112, 224);
    border-radius: 50px;
    width: 75rem;
    height: 30rem;
    background-color: white;
    display: flex;
}
#info-1a{
    border: 2px solid rgb(163, 131, 224);
    border-radius: 50px;
    height: 18rem;
    width: 35rem;
    position: relative;
    top: 10vh;
    left:3vw;
    padding: 0;
    background-color:skyblue;
    color: blue;
    transition: transform 1 ease-in-out;
}
#info-1a:hover{
    transform: scale(1.1); 
    border: 3px solid rgb(4, 4, 89);
    
}
#info-1a h5{
    text-align: center;
    padding-top: 4vh;
}
#info-1a p{
    text-align: center;
    color: black;
    font-weight: 500;
}
#info-1 img{
    border-radius: 50px;
    height:35vh ;
    width: 20vw;
    position: relative;
    top: 7vh;
    left: 8vw;
    transition: transform 0.8 ease-in-out;
}
#info-1 img:hover{
    transform: scale(1.2); 
    border: 3px solid yellow;
}


#info-2{
    border: 3px solid rgb(134, 112, 224);
    border-radius: 50px;
    width: 75rem;
    height: 30rem;
    background-color: white;
    display: flex;
}
#info-2 img{
    border-radius: 50px;
    height:35vh ;
    width: 20vw;
    position: relative;
    top: 7vh;
    left: 8vw;
    transition: transform 0.8 ease-in-out;
}
#info-2 img:hover{
    transform: scale(1.2); 
    border: 3px solid yellow;
}

#info-3{
    border: 3px solid rgb(134, 112, 224);
    border-radius: 50px;
    width: 75rem;
    height: 30rem;
    background-color: white;
    display: flex;
}
#info-3 img{
    border-radius: 50px;
    height:35vh ;
    width: 20vw;
    position: relative;
    top: 7vh;
    left: 8vw;
    transition: transform 0.8 ease-in-out;
}
#info-3 img:hover{
    transform: scale(1.2); 
    border: 3px solid yellow;
}